<footer class="jobfinder_footer">
    <div class="jobfinder_companylogo">
        <img src="#" alt="company logo" class="jobfinder_footerlogo" />
        <p class="jobfinder_footertext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum minus quis itaque numquam dolorem, eum quam labore corporis qui aliquid magni amet, id velit eos incidunt quibusdam vero sint repellat!</p>
    </div>
    <div class="jobfinder_footernavigations">
        <nav>
            <li>
                <a href="../index.html">Home</a>
            </li>
            <li>
                <a href="../job/index.html">Jobs</a>
            </li>
            <li>
                <a href="../aboutus/index.html">About</a>
            </li>
            <li>
                <a href="../contact/index.html">Contact</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
        </nav>
    </div>
    <!--images for the icon-->
    <div class="jobfinder_socials">
        <img src="#" alt="facebook"><img src="#" alt="twitter"><img src="#" alt="instagram"><img src="#" alt="email">
    </div>
</footer>