<!--create a header that will be used across the individual pages of the website-->
<header class="jobfinder_header">
    <!--title for the company and the navigations for the website-->
    <div class="jobfinder_companylogo">
        <img src="#" alt="comapany logo" class="jobfinder_logo" />
        <h1 class="jobfinder_title">Job Finder</h1>
    </div>
    <div class="jobfinder_navigations">
        <nav>
            <li>
                <a href="../index.html">Home</a>
            </li>
            <li>
                <a href="../job/index.html">Jobs</a>
            </li>
            <li>
                <a href="../aboutus/index.html">About</a>
            </li>
            <li>
                <a href="../contact/index.html">Contact</a>
            </li>
            <li>
                <a href="../profile/index.html" class="jobfinder_profile_link">
                    <!--profile icon and name-->
                    <span class="jobfinder_profile_name">Profile</span>
                    <img src="#" alt="jobfinder_profile" class="jobfinder_profile" />
                </a>
            </li>
        </nav>
    </div>
</header>